
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isVerified() {
      return request.auth.token.email_verified;
    }
    
    function isSuperAdmin() {
      return request.auth.token.email in ['markus.koenigreich@gmail.com', 'gerald.zhang@gmail.com'];
    }

    function isLeagueAdmin(leagueId) {
      return request.auth.uid in get(/databases/$(database)/documents/leagues/$(leagueId)).data.adminIds;
    }

    // Returns true if the user is a participant in the match being updated
    function isMatchParticipant(league, matchId) {
        let match = league.matches[matchId];
        return request.auth.uid == match.playerAId || request.auth.uid == match.playerBId;
    }

    // Returns true if the match was created within the last 12 hours
    function isMatchRecent(league, matchId) {
        let match = league.matches[matchId];
        return request.time < timestamp.date(
            match.createdAt.year(), 
            match.createdAt.month(), 
            match.createdAt.day()
        ).add(duration.value(12, 'h'));
    }

    // USERS
    match /users/{userId} {
      allow read: if isSignedIn();
      allow list: if isSignedIn() && isSuperAdmin();
      allow create: if isSignedIn() && isOwner(userId);
      allow update: if isSignedIn() && isOwner(userId);
      allow delete: if isSignedIn() && (isOwner(userId) || isSuperAdmin());
    }

    // LEAGUES
    match /leagues/{leagueId} {
      // Allow any signed-in user to get a specific league document.
      allow get: if isSignedIn();
      
      // Allow anyone to see the list of all leagues on the homepage.
      allow list: if true;
      
      // Only signed-in, verified users can create a league
      allow create: if isSignedIn() && isVerified();

      // Deleting a league is restricted to admins
      allow delete: if isSignedIn() && (isLeagueAdmin(leagueId) || isSuperAdmin());

      // UPDATING A LEAGUE
      allow update: if isSignedIn() && (
        // Allow an admin to change league settings or manage admins
        (
            (isLeagueAdmin(leagueId) || isSuperAdmin()) &&
            request.resource.data.diff(resource.data).affectedKeys().hasAny(['name', 'description', 'privacy', 'leaderboardVisible', 'inviteCode', 'adminIds'])
        ) ||
        // Allow a player to join or leave
        (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['players']) &&
            (
                request.resource.data.players.size() == resource.data.players.size() + 1 ||
                request.resource.data.players.size() == resource.data.players.size()
            )
        ) ||
        // Allow a participant to delete a recent match
        (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['matches', 'players']) &&
         request.resource.data.matches.size() == resource.data.matches.size() - 1 &&
         isMatchParticipant(resource.data, request.resource.data.matches.diff(resource.data.matches).deletedKeys()[0]) &&
         isMatchRecent(resource.data, request.resource.data.matches.diff(resource.data.matches).deletedKeys()[0])
        ) ||
        // Allow a member to record a match
        (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['matches', 'players']) &&
         request.resource.data.matches.size() == resource.data.matches.size() + 1
        )
      );
    }
  }
}
